body {
  margin: 0;
  /* background-color: antiquewhite; */
  background-image: url(./o.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  
 

  font-family: Georgia, serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: Georgia, serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  background-color: #333; /* Set a background color for the footer */
  color: white; /* Set text color for the footer */
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0; /* Position the footer at the bottom */
  width: 100%;
}
.fadmin{
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
  border-radius: 20px;
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group{
  margin-bottom: 10px;
}

.form-group input, .form-group textarea,.form-group select{

  border: 1px solid black;
}

.btn-primary {
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.xyz{
  position: relative;
 min-height: 100vh;
  
}
.homebody{
  position: relative;
 min-height: 100vh; 
}

/* .formbdy{
  position: absolute;
  margin-bottom: 100px;
} */
